/*
 * Copyright 2009-2025 C3 AI (www.c3.ai). All Rights Reserved.
 * Confidential and Proprietary C3 Materials.
 * This material, including without limitation any software, is the confidential trade secret and proprietary
 * information of C3 and its licensors. Reproduction, use and/or distribution of this material in any form is
 * strictly prohibited except as set forth in a written license agreement with C3 and/or its authorized distributors.
 * This material may be covered by one or more patents or pending patent applications.
 */

.dark {
  --c3-style-accentColor: var(--c3-style-color-core-blue-40);
  --c3-style-accentFontColor: var(--c3-style-color-core-gray-100);
  --c3-style-accentVariantColor: var(--c3-style-color-core-blue-60);
  --c3-style-avatarBadgeBlueBackgroundColor: var(--c3-style-color-core-blue-70);
  --c3-style-avatarBadgeBlueColor: var(--c3-style-color-core-blue-30);
  --c3-style-avatarBadgeChocoBackgroundColor: var(--c3-style-color-decorative-choco-70);
  --c3-style-avatarBadgeChocoColor: var(--c3-style-color-decorative-choco-30);
  --c3-style-avatarBadgeCyanBackgroundColor: var(--c3-style-color-decorative-cyan-70);
  --c3-style-avatarBadgeCyanColor: var(--c3-style-color-decorative-cyan-30);
  --c3-style-avatarBadgeForestBackgroundColor: var(--c3-style-color-decorative-forest-70);
  --c3-style-avatarBadgeForestColor: var(--c3-style-color-decorative-forest-30);
  --c3-style-avatarBadgeGreenBackgroundColor: var(--c3-style-color-core-green-70);
  --c3-style-avatarBadgeGreenColor: var(--c3-style-color-core-green-30);
  --c3-style-avatarBadgeLimeBackgroundColor: var(--c3-style-color-decorative-lime-70);
  --c3-style-avatarBadgeLimeColor: var(--c3-style-color-decorative-lime-30);
  --c3-style-avatarBadgeOliveBackgroundColor: var(--c3-style-color-decorative-olive-70);
  --c3-style-avatarBadgeOliveColor: var(--c3-style-color-decorative-olive-30);
  --c3-style-avatarBadgeOrangeBackgroundColor: var(--c3-style-color-decorative-orange-70);
  --c3-style-avatarBadgeOrangeColor: var(--c3-style-color-decorative-orange-30);
  --c3-style-avatarBadgePlumBackgroundColor: var(--c3-style-color-decorative-plum-70);
  --c3-style-avatarBadgePlumColor: var(--c3-style-color-decorative-plum-30);
  --c3-style-avatarBadgePurpleBackgroundColor: var(--c3-style-color-decorative-purple-70);
  --c3-style-avatarBadgePurpleColor: var(--c3-style-color-decorative-purple-30);
  --c3-style-avatarBadgeRedBackgroundColor: var(--c3-style-color-core-red-70);
  --c3-style-avatarBadgeRedColor: var(--c3-style-color-decorative-choco-30);
  --c3-style-avatarBadgeSlateBackgroundColor: var(--c3-style-color-decorative-slate-70);
  --c3-style-avatarBadgeSlateColor: var(--c3-style-color-decorative-slate-30);
  --c3-style-avatarBadgeYellowBackgroundColor: var(--c3-style-color-core-yellow-70);
  --c3-style-avatarBadgeYellowColor: var(--c3-style-color-core-yellow-30);
  --c3-style-booleanIconColor: var(--c3-style-color-decorative-olive-70);
  --c3-style-booleanIconTextColor: var(--c3-style-color-decorative-olive-30);
  --c3-style-borderColor: var(--c3-style-color-core-white-alpha-30);
  --c3-style-boxShadow01: var(--c3-style-box-shadow-dark-01);
  --c3-style-boxShadow02: var(--c3-style-box-shadow-dark-02);
  --c3-style-boxShadow03: var(--c3-style-box-shadow-dark-03);
  --c3-style-boxShadow04: var(--c3-style-box-shadow-dark-04);
  --c3-style-boxShadow05: var(--c3-style-box-shadow-dark-05);
  --c3-style-boxShadowCardParent: var(--c3-style-boxShadow01);
  --c3-style-boxShadowMenu: var(--c3-style-boxShadow03);
  --c3-style-brightnessActionHover: var(--c3-style-brightness-11);
  --c3-style-brightnessActionHoverInverse: var(--c3-style-brightness-09);
  --c3-style-brightnessActionPressed: var(--c3-style-brightness-12);
  --c3-style-brightnessActionPressedInverse: var(--c3-style-brightness-08);
  --c3-style-buttonControlBorderColor: var(--c3-style-componentBorderColor);
  --c3-style-buttonControlFontColor: var(--c3-style-fontColor);
  --c3-style-buttonControlHoverBackgroundColor: var(--c3-style-color-core-white-alpha-05);
  --c3-style-buttonControlSelectedBackgroundColor: var(--c3-style-color-core-blue-50);
  --c3-style-buttonControlSelectedDisabledBackgroundColor: var(--c3-style-color-core-blue-80);
  --c3-style-buttonControlSelectedFontColor: var(--c3-style-color-core-gray-100);
  --c3-style-buttonControlSelectedHoverBackgroundColor: var(--c3-style-color-core-blue-60);
  --c3-style-buttonDangerPrimaryActiveBackgroundColor: var(--c3-style-color-core-red-40);
  --c3-style-buttonDangerPrimaryHoverBackgroundColor: var(--c3-style-color-core-red-50);
  --c3-style-buttonDangerSecondaryActiveBackgroundColor: var(--c3-style-color-core-red-80);
  --c3-style-buttonDangerSecondaryHoverBackgroundColor: var(--c3-style-color-core-red-90);
  --c3-style-buttonDangerTertiaryActiveBackgroundColor: var(--c3-style-color-core-red-80);
  --c3-style-buttonDangerTertiaryHoverBackgroundColor: var(--c3-style-color-core-red-90);
  --c3-style-buttonIconActiveBackgroundColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-buttonIconBackgroundColor: var(--c3-style-color-core-white-alpha-00);
  --c3-style-buttonIconHoverBackgroundColor: var(--c3-style-color-core-white-alpha-05);
  --c3-style-buttonIconSelectedActiveBackgroundColor: var(--c3-style-color-core-white-alpha-40);
  --c3-style-buttonIconSelectedBackgroundColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-buttonIconSelectedForegroundColor: var(--c3-style-fontColor);
  --c3-style-buttonIconSelectedHoverBackgroundColor: var(--c3-style-color-core-white-alpha-30);
  --c3-style-buttonPrimaryActiveBackgroundColor: var(--c3-style-color-core-blue-40);
  --c3-style-buttonPrimaryHoverBackgroundColor: var(--c3-style-color-core-blue-50);
  --c3-style-buttonSecondaryActiveBackgroundColor: var(--c3-style-color-core-blue-80);
  --c3-style-buttonSecondaryHoverBackgroundColor: var(--c3-style-color-core-blue-90);
  --c3-style-buttonTertiaryActiveBackgroundColor: var(--c3-style-color-core-blue-80);
  --c3-style-buttonTertiaryHoverBackgroundColor: var(--c3-style-color-core-blue-90);
  --c3-style-canvasBackgroundDotColor: var(--c3-style-color-core-gray-70);
  --c3-style-canvasCyanNodeColor: var(--c3-style-color-decorative-cyan-50);
  --c3-style-canvasForestNodeColor: var(--c3-style-color-decorative-forest-50);
  --c3-style-canvasNodeBorderColor: var(--c3-style-color-core-gray-50);
  --c3-style-canvasNodeErrorBackgroundColor: var(--c3-style-color-core-red-90);
  --c3-style-canvasNodeWarningBackgroundColor: var(--c3-style-color-core-yellow-90);
  --c3-style-canvasOrangeIconColor: var(--c3-style-color-decorative-orange-60);
  --c3-style-canvasOrangeNodeColor: var(--c3-style-color-decorative-orange-60);
  --c3-style-canvasPendingNodeBackgroundColor: var(--c3-style-color-decorative-slate-100);
  --c3-style-canvasPendingNodeForegroundColor: var(--c3-style-color-core-gray-60);
  --c3-style-canvasPlumNodeColor: var(--c3-style-color-decorative-plum-60);
  --c3-style-canvasPurpleIconColor: var(--c3-style-color-decorative-purple-60);
  --c3-style-canvasPurpleNodeColor: var(--c3-style-color-decorative-purple-60);
  --c3-style-canvasSlateIconColor: var(--c3-style-color-decorative-slate-60);
  --c3-style-canvasSlateNodeColor: var(--c3-style-color-decorative-slate-40);
  --c3-style-cardElevation00BackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-cardElevation01BackgroundColor: var(--c3-style-color-core-gray-95);
  --c3-style-cardElevation02BackgroundColor: var(--c3-style-color-core-gray-95);
  --c3-style-cardElevation03BackgroundColor: var(--c3-style-color-core-gray-95);
  --c3-style-cardElevation04BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-cardElevation06BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-cardElevation08BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-cardElevation12BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-cardElevation16BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-cardElevation24BackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-chartSeriesTooltipNameFontColor: var(--c3-style-secondaryFontColor);
  --c3-style-chartSeriesTooltipTitleFontColor: var(--c3-style-fontColor);
  --c3-style-chartSeriesTooltipValueFontColor: var(--c3-style-fontColor);
  --c3-style-checkboxBackgroundColor: var(--c3-style-color-core-gray-alpha-00);
  --c3-style-checkboxColor: var(--c3-style-color-core-white-alpha-70);
  --c3-style-checkboxHoverBackgroundColor: var(--c3-style-color-core-gray-alpha-00);
  --c3-style-checkboxHoverColor: var(--c3-style-color-core-gray-05);
  --c3-style-checkboxSelectedDisabledColor: var(--c3-style-color-core-blue-80);
  --c3-style-checkboxSelectedHoverColor: var(--c3-style-color-core-blue-60);
  --c3-style-colorBgAccent: var(--c3-style-color-core-blue-40);
  --c3-style-colorBgAccentWeak: var(--c3-style-color-core-blue-90);
  --c3-style-colorBgActionHover: var(--c3-style-color-core-white-alpha-10);
  --c3-style-colorBgActionHoverInverse: var(--c3-style-color-core-gray-alpha-10);
  --c3-style-colorBgActionPressed: var(--c3-style-color-core-white-alpha-20);
  --c3-style-colorBgActionPressedInverse: var(--c3-style-color-core-gray-alpha-20);
  --c3-style-colorBgAvatarDefault: var(--c3-style-color-core-gray-80);
  --c3-style-colorBgBtnAccentFill: var(--c3-style-colorBgAccent);
  --c3-style-colorBgBtnDangerFill: var(--c3-style-colorBgDanger);
  --c3-style-colorBgBtnPrimaryFill: var(--c3-style-color-core-gray-20);
  --c3-style-colorBgCardChildPrimary: var(--c3-style-colorBgTertiary);
  --c3-style-colorBgCardChildSecondary: var(--c3-style-colorBgSecondary);
  --c3-style-colorBgCardParent: var(--c3-style-colorBgSecondary);
  --c3-style-colorBgContainer01: var(--c3-style-colorBgSecondary);
  --c3-style-colorBgContainer02: var(--c3-style-colorBgTertiary);
  --c3-style-colorBgContentFrame: var(--c3-style-colorBgCardParent);
  --c3-style-colorBgDanger: var(--c3-style-color-core-red-50);
  --c3-style-colorBgDangerWeak: var(--c3-style-color-core-red-90);
  --c3-style-colorBgDataGridHover: var(--c3-style-color-decorative-slate-90);
  --c3-style-colorBgDataGridZebraStripe: var(--c3-style-colorBgCardParent);
  --c3-style-colorBgDataZoomSliderFilter: var(--c3-style-color-core-data-zoom-20);
  --c3-style-colorBgDataZoomSparkline: var(--c3-style-color-core-data-zoom-10);
  --c3-style-colorBorderDataZoomSparkline: var(--c3-style-color-core-data-zoom-50);
  --c3-style-colorBgInlineNotificationError: var(--c3-style-color-core-red-95);
  --c3-style-colorBgInlineNotificationSuccess: var(--c3-style-color-core-green-95);
  --c3-style-colorBgInlineNotificationWarning: var(--c3-style-color-core-yellow-95);
  --c3-style-colorBgInputReadonly: var(--c3-style-color-core-white-alpha-05);
  --c3-style-colorBgMenu: var(--c3-style-colorBgTertiary);
  --c3-style-colorBgMenuHoverUnselected: var(--c3-style-colorBgActionHover);
  --c3-style-colorBgMenuItemSelected: var(--c3-style-colorBgSelected);
  --c3-style-colorBgPage: var(--c3-style-color-core-gray-100);
  --c3-style-colorBgPrimary: var(--c3-style-color-core-gray-100);
  --c3-style-colorBgPrimaryInverse: var(--c3-style-color-core-white);
  --c3-style-colorBgCoreAccentStrong: var(--c3-style-color-core-blue-80);
  --c3-style-colorBgCoreAccent: var(--c3-style-color-core-blue-90);
  --c3-style-colorBgCoreAccentWeak: var(--c3-style-color-core-blue-95);
  --c3-style-colorBgCoreDangerStrong: var(--c3-style-color-core-red-80);
  --c3-style-colorBgCoreDanger: var(--c3-style-color-core-red-90);
  --c3-style-colorBgCoreDangerWeak: var(--c3-style-color-core-red-95);
  --c3-style-colorBgCoreSuccessStrong: var(--c3-style-color-core-green-80);
  --c3-style-colorBgCoreSuccess: var(--c3-style-color-core-green-90);
  --c3-style-colorBgCoreSuccessWeak: var(--c3-style-color-core-green-95);
  --c3-style-colorBgCoreWarningStrong: var(--c3-style-color-core-yellow-80);
  --c3-style-colorBgCoreWarning: var(--c3-style-color-core-yellow-90);
  --c3-style-colorBgCoreWarningWeak: var(--c3-style-color-core-yellow-95);
  --c3-style-colorBgSuccessWeak: var(--c3-style-color-core-green-90);
  --c3-style-colorBgSideNavPanel: var(--c3-style-colorBgCardParent);
  --c3-style-colorBgSecondary: var(--c3-style-color-core-gray-95);
  --c3-style-colorBgSecondaryInverse: var(--c3-style-color-core-gray-05);
  --c3-style-colorBgSegBtnSelected: var(--c3-style-colorBgSelected);
  --c3-style-colorBgSelected: var(--c3-style-color-core-white-alpha-20);
  --c3-style-colorBgSuccess: var(--c3-style-color-core-green-40);
  --c3-style-colorBgTertiary: var(--c3-style-color-core-gray-90);
  --c3-style-colorBgTertiaryInverse: var(--c3-style-color-core-gray-10);
  --c3-style-colorBgQuaternary: var(--c3-style-color-core-gray-80);
  --c3-style-colorBgQuaternaryInverse: var(--c3-style-color-core-gray-20);
  --c3-style-colorBgTickMark: var(--c3-style-color-core-white-alpha-30);
  --c3-style-colorBgTrack: var(--c3-style-color-core-white-alpha-10);
  --c3-style-colorBgWarning: var(--c3-style-color-core-yellow-40);
  --c3-style-colorBgWarningWeak: var(--c3-style-color-core-yellow-90);
  --c3-style-colorBorder: var(--c3-style-color-core-gray-50);
  --c3-style-colorBorderAccent: var(--c3-style-color-core-blue-40);
  --c3-style-colorBorderBtnAccentOutline: var(--c3-style-colorBorderAccent);
  --c3-style-colorBorderBtnDangerOutline: var(--c3-style-colorBorderDanger);
  --c3-style-colorBorderBtnPrimaryOutline: var(--c3-style-colorBorder);
  --c3-style-colorBorderCardChildPrimary: var(--c3-style-color-core-white-alpha-00);
  --c3-style-colorBorderCardChildSecondary: var(--c3-style-colorBorderWeak);
  --c3-style-colorBorderCardParent: var(--c3-style-color-core-white-alpha-00);
  --c3-style-colorBorderDanger: var(--c3-style-color-core-red-50);
  --c3-style-colorBorderInlineNotificationError: var(--c3-style-colorBorderDanger);
  --c3-style-colorBorderInlineNotificationSuccess: var(--c3-style-colorBorderSuccess);
  --c3-style-colorBorderInlineNotificationWarning: var(--c3-style-colorBorderWarning);
  --c3-style-colorBorderMenu: var(--c3-style-colorBorderWeak);
  --c3-style-colorBorderReadonly: var(--c3-style-colorBorderWeak);
  --c3-style-colorBorderSegBtn: var(--c3-style-colorBorder);
  --c3-style-colorBorderStrong: var(--c3-style-color-core-gray-20);
  --c3-style-colorBorderSuccess: var(--c3-style-color-core-green-40);
  --c3-style-colorBorderWarning: var(--c3-style-color-core-yellow-40);
  --c3-style-colorBorderWeak: var(--c3-style-color-core-gray-80);
  --c3-style-colorDivider: var(--c3-style-colorBorder);
  --c3-style-colorDividerStrong: var(--c3-style-colorBorderStrong);
  --c3-style-colorDividerWeak: var(--c3-style-colorBorderWeak);
  --c3-style-colorBgCollapsibleNav: var(--c3-style-color-core-gray-95);
  --c3-style-colorBgTintTimeBarOverlay: var(--c3-style-color-core-gray-alpha-70);
  --c3-style-colorBgSankeyLabel: var(--c3-style-color-core-gray-alpha-70);
  --c3-style-colorBgSideNav: var(--c3-style-colorBgSecondary);
  --c3-style-colorBgSideNavItemHover: var(--c3-style-colorBgActionHover);
  --c3-style-colorBgSideItemHover: var(--c3-style-colorFgPrimary);
  --c3-style-colorFgSideNavSelected: var(--c3-style-colorFgPrimary);
  --c3-style-colorFgSideNavUnselected: var(--c3-style-color-core-white-alpha-80);
  --c3-style-colorBorderSideNavItemIndicator: var(--c3-style-colorFgPrimary);
  --c3-style-colorFgAccent: var(--c3-style-color-core-blue-40);
  --c3-style-colorFgBtnAccent: var(--c3-style-colorFgAccent);
  --c3-style-colorFgBtnDanger: var(--c3-style-colorFgDanger);
  --c3-style-colorFgBtnPrimary: var(--c3-style-color-core-gray-20);
  --c3-style-colorFgDanger: var(--c3-style-color-core-red-50);
  --c3-style-colorFgDecoOrangeStrong: var(--c3-style-color-decorative-orange-20);
  --c3-style-colorFgDecoOrange: var(--c3-style-color-decorative-orange-40);
  --c3-style-colorFgDecoOrangeWeak: var(--c3-style-color-decorative-orange-60);
  --c3-style-colorFgDecoOliveStrong: var(--c3-style-color-decorative-olive-20);
  --c3-style-colorFgDecoOlive: var(--c3-style-color-decorative-olive-40);
  --c3-style-colorFgDecoOliveWeak: var(--c3-style-color-decorative-olive-60);
  --c3-style-colorFgDecoLimeStrong: var(--c3-style-color-decorative-lime-20);
  --c3-style-colorFgDecoLime: var(--c3-style-color-decorative-lime-40);
  --c3-style-colorFgDecoLimeWeak: var(--c3-style-color-decorative-lime-60);
  --c3-style-colorFgDecoForestStrong: var(--c3-style-color-decorative-forest-20);
  --c3-style-colorFgDecoForest: var(--c3-style-color-decorative-forest-40);
  --c3-style-colorFgDecoForestWeak: var(--c3-style-color-decorative-forest-60);
  --c3-style-colorFgDecoCyanStrong: var(--c3-style-color-decorative-cyan-20);
  --c3-style-colorFgDecoCyan: var(--c3-style-color-decorative-cyan-40);
  --c3-style-colorFgDecoCyanWeak: var(--c3-style-color-decorative-cyan-60);
  --c3-style-colorFgDecoSlateStrong: var(--c3-style-color-decorative-slate-20);
  --c3-style-colorFgDecoSlate: var(--c3-style-color-decorative-slate-40);
  --c3-style-colorFgDecoSlateWeak: var(--c3-style-color-decorative-slate-60);
  --c3-style-colorFgDecoPurpleStrong: var(--c3-style-color-decorative-purple-20);
  --c3-style-colorFgDecoPurple: var(--c3-style-color-decorative-purple-40);
  --c3-style-colorFgDecoPurpleWeak: var(--c3-style-color-decorative-purple-60);
  --c3-style-colorFgDecoPlumStrong: var(--c3-style-color-decorative-plum-20);
  --c3-style-colorFgDecoPlum: var(--c3-style-color-decorative-plum-40);
  --c3-style-colorFgDecoPlumWeak: var(--c3-style-color-decorative-plum-60);
  --c3-style-colorFgDecoChocoStrong: var(--c3-style-color-decorative-choco-20);
  --c3-style-colorFgDecoChoco: var(--c3-style-color-decorative-choco-40);
  --c3-style-colorFgDecoChocoWeak: var(--c3-style-color-decorative-choco-60);
  --c3-style-colorFgMenuItemSelected: var(--c3-style-colorFgPrimary);
  --c3-style-colorFgMenuItemSelectedIndicator: var(--c3-style-colorFgAccent);
  --c3-style-colorFgMenuItemUnselected: var(--c3-style-colorFgSecondary);
  --c3-style-colorFgPrimary: var(--c3-style-color-core-white-alpha-95);
  --c3-style-colorFgPrimaryInverse: var(--c3-style-color-core-gray-alpha-95);
  --c3-style-colorFgReadonly: var(--c3-style-colorFgSecondary);
  --c3-style-colorFgSecondary: var(--c3-style-color-core-white-alpha-95);
  --c3-style-colorFgSecondaryInverse: var(--c3-style-color-core-gray-alpha-65);
  --c3-style-colorFgSegBtn: var(--c3-style-colorFgSecondary);
  --c3-style-colorFgSegBtnSelected: var(--c3-style-colorFgPrimary);
  --c3-style-colorFgSuccess: var(--c3-style-color-core-green-40);
  --c3-style-colorFgWarning: var(--c3-style-color-core-yellow-40);
  --c3-style-colorFocus: var(--c3-style-color-core-blue-40);
  --c3-style-componentBackgroundColor: var(--c3-style-color-core-gray-95);
  --c3-style-componentBackgroundColorError: var(--c3-style-color-core-red-90);
  --c3-style-componentBackgroundColorSuccess: var(--c3-style-color-core-green-90);
  --c3-style-componentBackgroundColorWarning: var(--c3-style-color-core-yellow-90);
  --c3-style-componentBorderColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-componentDividerColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-dangerColor: var(--c3-style-color-core-red-50);
  --c3-style-dateIconColor: var(--c3-style-color-decorative-plum-70);
  --c3-style-dateIconTextColor: var(--c3-style-color-decorative-plum-30);
  --c3-style-dropdownDescriptionBackgroundColor: var(--c3-style-color-core-blue-80);
  --c3-style-dropdownDescriptionColor: var(--c3-style-color-core-blue-40);
  --c3-style-dropdownMessageColor: var(--c3-style-secondaryFontColor);
  --c3-style-dropdownOptionDividerColor: var(--c3-style-componentDividerColor);
  --c3-style-dropdownSelectionColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-dynamicComponentLoaderBackgroundColor: var(--c3-style-color-core-gray-alpha-50);
  --c3-style-expressionFocusedInputBackgroundColor: var(--c3-style-color-core-blue-95);
  --c3-style-fontColor: var(--c3-style-color-core-gray-05);
  --c3-style-formFieldBackgroundColor: var(--c3-style-color-core-white-alpha-00);
  --c3-style-formFieldBackgroundColorDisabled: var(--c3-style-color-core-white-alpha-10);
  --c3-style-formFieldBorderColor: var(--c3-style-componentBorderColor);
  --c3-style-formFieldBorderColorDisabled: var(--c3-style-color-core-white-alpha-20);
  --c3-style-formFieldColorDisabled: var(--c3-style-color-core-white-alpha-30);
  --c3-style-formFieldColorHint: var(--c3-style-secondaryFontColor);
  --c3-style-formFieldErrorBorderColor: var(--c3-style-color-core-red-50);
  --c3-style-formFieldErrorHoverBorderColor: var(--c3-style-color-core-red-40);
  --c3-style-formFieldHeaderColorDisabled: var(--c3-style-color-core-white-alpha-30);
  --c3-style-formFieldHoverBackgroundColor: var(--c3-style-color-core-white-alpha-00);
  --c3-style-formFieldHoverBorderColor: var(--c3-style-color-core-white-alpha-70);
  --c3-style-formFieldLabelErrorColor: var(--c3-style-color-core-red-50);
  --c3-style-formFieldLabelFocusColor: var(--c3-style-color-core-white-alpha-100);
  --c3-style-formFieldSetLinkHoverColor: var(--c3-style-accentColor);
  --c3-style-formFieldVariantBorderColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-gaugeAxisBarColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-gaugeFontColor: var(--c3-style-fontColor);
  --c3-style-gaugeProgressBarDefaultColor: var(--c3-style-color-core-blue-50);
  --c3-style-gradientLinearCardParentLeft: var(--c3-style-gradient-dark-parent-left);
  --c3-style-gradientLinearCardParentRight: var(--c3-style-gradient-dark-parent-right);
  --c3-style-gradientLinearCardChildLeft: var(--c3-style-gradient-dark-child-left);
  --c3-style-gradientLinearCardChildRight: var(--c3-style-gradient-dark-child-right);
  --c3-style-gradientLinearNav: var(--c3-style-gradient-linear-nav);
  --c3-style-graphVisualizationClusterNodeFillColor: var(--c3-style-color-core-gray-80);
  --c3-style-graphVisualizationClusterNodeOutlineColor: var(--c3-style-color-core-gray-50);
  --c3-style-graphVisualizationGlyphFontColor: var(--c3-style-fontColor);
  --c3-style-graphVisualizationLegendBackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-graphVisualizationLegendViewMoreButtonFontColor: var(--c3-style-accentColor);
  --c3-style-graphVisualizationMapTheme: var(--c3-style-theme-category-dark);
  --c3-style-graphVisualizationMergedEdgeGlyphBackgroundColor: var(--c3-style-color-core-gray-50);
  --c3-style-graphVisualizationNodeDefaultDonutColor: var(--c3-style-color-core-black);
  --c3-style-graphVisualizationNodeInfoGlyphBackgroundColor: var(--c3-style-color-core-gray-50);
  --c3-style-graphVisualizationNodeInfoGlyphFontColor: var(--c3-style-fontColor);
  --c3-style-graphVisualizationPercentageDonutSegmentColor: var(--c3-style-color-core-gray-80);
  --c3-style-graphVisualizationTimeBarBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-graphVisualizationTimeBarColor: var(--c3-style-color-core-gray-50);
  --c3-style-graphVisualizationTimeBarHoverColor: var(--c3-style-color-core-gray-40);
  --c3-style-graphVisualizationTimeBarScaleHoverColor: var(--c3-style-color-core-gray-80);
  --c3-style-graphVisualizationTooltipBackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-graphVisualizationTooltipBodyColor: var(--c3-style-fontColor);
  --c3-style-graphVisualizationTooltipSubtitleColor: var(--c3-style-fontColor);
  --c3-style-graphVisualizationTooltipTitleColor: var(--c3-style-fontColor);
  --c3-style-gridCellColorWheelBackgroundColor: var(--c3-style-color-core-white-alpha-05);
  --c3-style-gridHeaderFontColor: var(--c3-style-fontColor);
  --c3-style-gridHoverBackgroundColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-gridMessageBackgroundColor: var(--c3-style-color-core-gray-90);
  --c3-style-gridPagerLabelFontColor: var(--c3-style-secondaryFontColor);
  --c3-style-gridPagerSizesFontColor: var(--c3-style-fontColor);
  --c3-style-gridSelectedCellBackgroundColor: var(--c3-style-color-core-blue-90);
  --c3-style-gridSelectedCellBorderColor: var(--c3-style-color-core-blue-40);
  --c3-style-gridSelectedFontColor: var(--c3-style-fontColor);
  --c3-style-gridSelectedHoverBackgroundColor: var(--c3-style-color-core-blue-80);
  --c3-style-iconGroupColor: var(--c3-style-secondaryFontColor);
  --c3-style-indicatorBarBackgroundColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-infoColor: var(--c3-style-color-core-blue-50);
  --c3-style-invertedComponentBackgroundColor: var(--c3-style-color-core-white-alpha-100);
  --c3-style-kanbanBoardBackgroundColumnTitle: var(--c3-style-fontColor);
  --c3-style-kanbanBoardBackgroundItemSlot: var(--c3-style-color-core-gray-90);
  --c3-style-kanbanBoardBackgroundLayout: var(--c3-style-color-core-gray-100);
  --c3-style-kanbanBoardBorderTitle: var(--c3-style-secondaryFontColor);
  --c3-style-kanbanBoardButtonColor: var(--c3-style-color-core-white-alpha-80);
  --c3-style-kanbanBoardCardContentColor: var(--c3-style-fontColor);
  --c3-style-kanbanBoardCardHeadLineBlockColor: var(--c3-style-fontColor);
  --c3-style-kanbanBoardContentBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-kanbanBoardTextBackgroundCollectionList: var(--c3-style-color-core-gray-95);
  --c3-style-kanbanBoardTitleColor: var(--c3-style-fontColor);
  --c3-style-legendBackgroundColor: var(--c3-style-color-core-gray-80);
  --c3-style-legendNameFontColor: var(--c3-style-secondaryFontColor);
  --c3-style-logoBlueBackgroundColor: var(--c3-style-color-core-blue-40);
  --c3-style-logoChocoBackgroundColor: var(--c3-style-color-decorative-choco-40);
  --c3-style-logoColor: var(--c3-style-color-core-gray-100);
  --c3-style-logoCyanBackgroundColor: var(--c3-style-color-decorative-cyan-40);
  --c3-style-logoForestBackgroundColor: var(--c3-style-color-decorative-forest-40);
  --c3-style-logoLimeBackgroundColor: var(--c3-style-color-decorative-lime-40);
  --c3-style-logoOliveBackgroundColor: var(--c3-style-color-decorative-olive-40);
  --c3-style-logoOrangeBackgroundColor: var(--c3-style-color-decorative-orange-40);
  --c3-style-logoPlumBackgroundColor: var(--c3-style-color-decorative-plum-40);
  --c3-style-logoPurpleBackgroundColor: var(--c3-style-color-decorative-purple-40);
  --c3-style-logoSlateBackgroundColor: var(--c3-style-color-decorative-slate-40);
  --c3-style-mapMarkerClusterColor: var(--c3-style-accentColor);
  --c3-style-mapTooltipAdditionalFieldsDescriptionFontColor: var(--c3-style-fontColor);
  --c3-style-mapTooltipAdditionalFieldsHeaderFontColor: var(--c3-style-secondaryFontColor);
  --c3-style-mapTooltipHeaderFontColor: var(--c3-style-fontColor);
  --c3-style-mapTooltipSubHeaderFontColor: var(--c3-style-color-core-gray-50);
  --c3-style-menuActiveColor: var(--c3-style-fontColor);
  --c3-style-menuBackgroundActiveColor: var(--c3-style-color-core-gray-90);
  --c3-style-menuBackgroundColor: var(--c3-style-color-core-gray-95);
  --c3-style-menuDividerColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-menuHoverColor: var(--c3-style-color-core-gray-80);
  --c3-style-menuItemActiveColor: var(--c3-style-color-core-gray-05);
  --c3-style-menuItemBackgroundColor: var(--c3-style-color-core-white-alpha-00);
  --c3-style-menuItemBackgroundHoverColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-menuItemHoverColor: var(--c3-style-color-core-gray-40);
  --c3-style-menuPrimaryColor: var(--c3-style-color-core-white-alpha-80);
  --c3-style-numberIconColor: var(--c3-style-color-decorative-purple-70);
  --c3-style-numberIconTextColor: var(--c3-style-color-decorative-purple-30);
  --c3-style-objectIconColor: var(--c3-style-color-decorative-choco-70);
  --c3-style-objectIconTextColor: var(--c3-style-color-decorative-choco-30);
  --c3-style-opacity00: var(--c3-style-opacity-00);
  --c3-style-opacity05: var(--c3-style-opacity-05);
  --c3-style-opacity10: var(--c3-style-opacity-10);
  --c3-style-opacity20: var(--c3-style-opacity-20);
  --c3-style-opacity30: var(--c3-style-opacity-30);
  --c3-style-opacity40: var(--c3-style-opacity-40);
  --c3-style-opacity50: var(--c3-style-opacity-50);
  --c3-style-opacity60: var(--c3-style-opacity-60);
  --c3-style-opacity70: var(--c3-style-opacity-70);
  --c3-style-opacity80: var(--c3-style-opacity-80);
  --c3-style-opacity90: var(--c3-style-opacity-90);
  --c3-style-opacity95: var(--c3-style-opacity-95);
  --c3-style-opacity100: var(--c3-style-opacity-100);
  --c3-style-opacityDisabled: var(--c3-style-opacity-40);
  --c3-style-opacityLoading: var(--c3-style-opacity-40);
  --c3-style-otherIconColor: var(--c3-style-color-decorative-orange-70);
  --c3-style-otherIconTextColor: var(--c3-style-color-decorative-orange-30);
  --c3-style-pageBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-pageTitleBoxShadowColor: transparent;
  --c3-style-referenceIconColor: var(--c3-style-color-decorative-lime-70);
  --c3-style-referenceIconTextColor: var(--c3-style-color-decorative-lime-30);
  --c3-style-sankeyChartLabelBackgroundColor: var(--c3-style-color-core-gray-alpha-95);
  --c3-style-scrollbarThumbColor: var(--c3-style-color-core-gray-70);
  --c3-style-scrollbarTrackColor: var(--c3-style-color-core-gray-alpha-00);
  --c3-style-secondaryFontColor: var(--c3-style-color-core-white-alpha-95);
  --c3-style-secondaryVariantFontColor: var(--c3-style-color-core-gray-alpha-65);
  --c3-style-selectFieldPillActiveBackgroundColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-selectFieldPillHoverBackgroundColor: var(--c3-style-color-core-white-alpha-05);
  --c3-style-selectFieldPillTextColor: var(--c3-style-fontColor);
  --c3-style-selectionBackgroundColor: var(--c3-style-color-core-blue-90);
  --c3-style-sidePanelSubtitleColor: var(--c3-style-secondaryFontColor);
  --c3-style-stringIconColor: var(--c3-style-color-core-blue-70);
  --c3-style-stringIconTextColor: var(--c3-style-color-core-blue-30);
  --c3-style-subMenuItemBackgroundActiveColor: var(--c3-style-color-core-gray-80);
  --c3-style-successColor: var(--c3-style-color-core-green-40);
  --c3-style-timeGraphBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-timeGraphDefaultEntityColor: var(--c3-style-color-core-gray-50);
  --c3-style-timeGraphDefaultLabelColor: var(--c3-style-fontColor);
  --c3-style-timeGraphHighlightColor: var(--c3-style-color-core-white-alpha-30);
  --c3-style-timeGraphScaleBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-timeGraphScaleBorderColor: var(--c3-style-componentBorderColor);
  --c3-style-timeGraphScaleFontColor: var(--c3-style-secondaryFontColor);
  --c3-style-timeGraphScaleFontSize: var(--c3-style-font-size-02);
  --c3-style-timeGraphTooltipBackgroundColor: var(--c3-style-color-core-gray-80);
  --c3-style-timeGraphTooltipBodyColor: var(--c3-style-fontColor);
  --c3-style-timeGraphTooltipSubtitleColor: var(--c3-style-fontColor);
  --c3-style-timeGraphTooltipTitleColor: var(--c3-style-fontColor);
  --c3-style-timeSeriesIconColor: var(--c3-style-color-decorative-forest-70);
  --c3-style-timeSeriesIconTextColor: var(--c3-style-color-decorative-forest-30);
  --c3-style-toggleSwitchBackgroundColor: var(--c3-style-color-core-gray-100);
  --c3-style-toggleSwitchBorderColor: var(--c3-style-color-core-white-alpha-40);
  --c3-style-toggleSwitchCheckedBorderColor: var(--c3-style-accentColor);
  --c3-style-toggleSwitchCheckedColor: var(--c3-style-color-core-gray-05);
  --c3-style-toggleSwitchCheckedDisabledBackgroundColor: var(--c3-style-color-core-blue-90);
  --c3-style-toggleSwitchCheckedDisabledBorderColor: var(--c3-style-color-core-blue-90);
  --c3-style-toggleSwitchCheckedDisabledColor: var(--c3-style-color-core-white-alpha-20);
  --c3-style-toggleSwitchColor: var(--c3-style-color-core-gray-40);
  --c3-style-toggleSwitchDisabledBackgroundColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-toggleSwitchDisabledBorderColor: var(--c3-style-color-core-white-alpha-10);
  --c3-style-toggleSwitchDisabledColor: var(--c3-style-color-core-gray-80);
  --c3-style-tooltipBackgroundColor: var(--c3-style-color-core-gray-80);
  --c3-style-warningColor: var(--c3-style-color-core-yellow-40);
  --c3-style-zebraStripeBackgroundColor: var(--c3-style-color-core-white-alpha-05);
}
